body{
    background-color: #FFEDED;
}

.container {
    display: flex;
    flex-direction: row;
}

.container div {
    flex: 2fr 3fr;
    text-align: center;
}

.article {
    width: 40%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside {
    width: 60%;
    padding: 5px;
}

@media screen and(max-width:400px) {
    .container div {
        flex: 100%;
    }
}

@media screen and(min-width:401px) {
    .container div {
        flex: 1fr 3fr;
    }
}

@font-face {
    font-family: Candycolouredclown;
    src: url("/fonts/Candycolouredclown.otf") format("opentype");
}

h1{
    font-size: 6em;
    color: #A4003F;
    font-family: 'Candycolouredclown', optentype;
    margin: 0;
}

h2{
    font-size: 5em;
    color: #A4003F;
    font-family: 'Candycolouredclown', optentype;
}

h3{
    font-size: 4em;
    color: #A4003F;
    font-family: 'Candycolouredclown', optentype;  
}

h4{
    font-size: 3em;
    color: #A4003F;
    font-family: 'Candycolouredclown', optentype;
}

h5{
    font-size: 2em;
    color: #A4003F;
    font-family: 'Candycolouredclown', optentype;
}

h6{
    font-size: 1em;
    color: #A4003F;
    font-family: 'Candycolouredclown', optentype;
}

p, ul, li, ol{
    font-size: 1.5em;
    color: black;
    font-family: 'Century Gothic';
    margin-right: 50px;
}

a:link {
    color: white;
    font-size: 14;
    font-family: 'Candycolouredclown', opentype;
  }
  
a:visited, a:active{
    color: white;
    font-size: 14;
    font-family: 'Century Gothic'
}
  
a:hover {
    color: #A4003F;
    font-family: 'Candycolouredclown', opentype;
}

.btn {
    background-color: #F4748B;
    border: 3px solid black;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    font-size: 2.5em;
    font-family: 'Candycolouredclown';
    color: white;
    height: 50px;
    width: 300px;
    box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.49);
    padding-top: 5px;
  }

a.btn:hover {
    background-color: white;
    color: #F4748B;
}

a.btn:active {
    background-color: #A8366D;
    color: white;
}

img {
    margin: auto;
    border-radius: 150px;
}

nav {
    background-color: #F4748B;
    padding: .5em;
    top: 0;
    position: sticky;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
  
nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}